.repair { margin-top: 20px; padding: 0;}

.modal-xl { max-width: 1200px; }

.file-item {padding-right: 0 !important;}

.table-mov { font-size: 0.8rem !important;}

.dataTables_info { font-size: 10px !important; }

.form-control { font-size: 12px !important; }

.table td { font-size: 0.87rem !important;}